
  
  
  .table,
  .th,
  .tr,
  .td {
    border: 1px solid;
    width: 1%;
  }
  
  .table {
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
  } 

  /* Style buttons */
  .graphic_btn {
    background-size: 70% !important;
    background-position: center !important;
    border: none; /* Remove borders */
    color: white; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
    background-color: rgb(236, 236, 236) !important;
    border-radius: 5px;
    width: 3em;
    height: 3em;
    margin: 0.4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  /* Darker background on mouse-over */
  .graphic_btn:hover {
    opacity: 0.8;
  }

  /* .table_highlight_text{
    color: orange;
  }

  .table_highlight_background{
    background-color: aqua;
  } */