<div>
	<h3>Hello to first WidgetCARLOS!!</h3>
	<!-- <div>
		<span class="tag">{{labels.portletNamespace}}:</span>
		<span class="value">{{params.portletNamespace}}</span>
	</div>
	<div>
		<span class="tag">{{labels.contextPath}}:</span>
		<span class="value">{{params.contextPath}}</span>
	</div>
	<div>
		<span class="tag">{{labels.portletElementId}}:</span>
		<span class="value">{{params.portletElementId}}</span>
	</div>
	
	<div>
		<span class="tag">{{labels.configuration}}:</span>
		<span class="value pre"><pre>{{configurationJSON}}</pre></span>
	</div> -->

	<div class="chart-container">
		<canvas  id="MyChart" >{{ chart }}</canvas>
		<button (click)="download()">download</button>
  	</div>
	
</div>
